# http://www.gnu.org/software/automake

Makefile.in

# http://www.gnu.org/software/autoconf

/autom4te.cache
/aclocal.m4
/compile
/configure
/depcomp
/config.*
/install-sh
/missing
/stamp-h1
Makefile.in
Makefile
/libtool
/ltmain.sh

# Byte-compiled / optimized / DLL files
 __pycache__/
 *.py[cod]
+*$py.class
 
 # C extensions
 *.so
*.o
*.la
*.lo
.deps

src/ssip/ssip-enum-types.c
src/ssip/ssip-enum-types.h
src/ssip/ssip-status-enum-types.c
src/ssip/ssip-status-enum-types.h

